<launch>
  <arg name="project" default="liorf"/>
  <arg name="config_file" default="$(find liorf)/config/s3e_alpha.yaml"/>
  <arg name="initial_yaw_sigma" default="3.141592653589793"/>
  <arg name="cbs_backend_mode" default="map_optimization"/>
  <arg name="cbs_belief_timestamp_tolerance_sec" default="0.12"/>
  <arg name="cbs_belief_reject_first_message" default="true"/>
  <arg name="cbs_enable_soft_reset" default="true"/>
  <arg name="cbs_use_raw_previous_belief_gate" default="false"/>
  <arg name="cbs_use_temporary_cbs_linear_factors" default="true"/>
  <arg name="cbs_temporary_linear_already_applied_gate_enable" default="true"/>
  <arg name="cbs_temporary_linear_already_applied_metric_threshold" default="0.01"/>
  <arg name="cbs_temporary_linear_already_applied_dmu_threshold" default="0.001"/>
  <arg name="cbs_temporary_linear_already_applied_cov_rel_threshold" default="0.001"/>
  <arg name="cbs_d_reset" default="0.1"/>
  <arg name="cbs_k2l_odom_factor_covariance_scale" default="1.0"/>
  <arg name="cbs_k2l_debug_visualization_enable" default="false"/>
  <arg name="cbs_belief_bridge_enable" default="true"/>
  <arg name="cbs_belief_receive_start_delay_sec" default="0.0"/>
  <arg name="cbs_odom_belief_in_topic" default="liorf/cbs/odom_belief_in"/>
  <arg name="cbs_odom_belief_out_topic" default="liorf/cbs/odom_belief_out"/>
  <arg name="cbs_belief_exchange_window_size" default="30"/>
  <arg name="cbs_odom_unmatched_retry_max_age_sec" default="5.0"/>
  <arg name="cbs_odom_unmatched_retry_max_beliefs" default="500"/>
  <arg name="cbs_l2k_cov_audit_enable" default="false"/>
  <arg name="cbs_l2k_cov_audit_max_samples" default="20"/>
  <arg name="cbs_l2k_cov_audit_replacement_trans_variance" default="1.0"/>
  <arg name="cbs_l2k_cov_audit_query_anchor_variance" default="1000000.0"/>
  <arg name="cbs_l2k_outgoing_covariance_mode" default="A_as_is_local_anchored"/>
  <arg name="cbs_l2k_outgoing_covariance_scale" default="1.0"/>
  <arg name="cbs_conjugate_body_frame_conversion" default="true"/>
  <arg name="use_rviz" default="false"/>
  <arg name="rerun_visualizer_enable" default="true"/>
  <arg name="rerun_recording_id" default=""/>
  <arg name="rerun_host" default="rerun+http://172.18.0.1:9876/proxy"/>
  <arg name="rerun_local_map_leaf_size" default="1.0"/>
  <arg name="rerun_local_map_max_points" default="10000"/>
  <arg name="rerun_factor_graph_enable" default="true"/>
  <arg name="use_gps" default="false"/>
  <arg name="publish_static_tf" default="true"/>

  <rosparam file="$(arg config_file)" command="load" />
  <param name="/liorf/initialYawSigma" value="$(arg initial_yaw_sigma)"/>
  <param name="/liorf/cbsBackendMode" value="$(arg cbs_backend_mode)"/>
  <param name="/liorf/cbsBeliefTimestampToleranceSec"
         value="$(arg cbs_belief_timestamp_tolerance_sec)"/>
  <param name="/liorf/cbsBeliefRejectFirstMessage"
         value="$(arg cbs_belief_reject_first_message)"/>
  <param name="/liorf/cbsEnableSoftReset"
         value="$(arg cbs_enable_soft_reset)"/>
  <param name="/liorf/cbsUseRawPreviousBeliefGate"
         value="$(arg cbs_use_raw_previous_belief_gate)"/>
  <param name="/liorf/cbsUseTemporaryCbsLinearFactors"
         value="$(arg cbs_use_temporary_cbs_linear_factors)"/>
  <param name="/liorf/cbsTemporaryLinearAlreadyAppliedGateEnable"
         value="$(arg cbs_temporary_linear_already_applied_gate_enable)"/>
  <param name="/liorf/cbsTemporaryLinearAlreadyAppliedMetricThreshold"
         value="$(arg cbs_temporary_linear_already_applied_metric_threshold)"/>
  <param name="/liorf/cbsTemporaryLinearAlreadyAppliedDmuThreshold"
         value="$(arg cbs_temporary_linear_already_applied_dmu_threshold)"/>
  <param name="/liorf/cbsTemporaryLinearAlreadyAppliedCovRelThreshold"
         value="$(arg cbs_temporary_linear_already_applied_cov_rel_threshold)"/>
  <param name="/liorf/cbsDReset" value="$(arg cbs_d_reset)"/>
  <param name="/liorf/cbsK2LOdomFactorCovarianceScale"
         value="$(arg cbs_k2l_odom_factor_covariance_scale)"/>
  <param name="/liorf/cbsK2LDebugVisualizationEnable"
         value="$(arg cbs_k2l_debug_visualization_enable)"/>
  <param name="/liorf/cbsBeliefBridgeEnable"
         value="$(arg cbs_belief_bridge_enable)"/>
  <param name="/liorf/cbsBeliefReceiveStartDelaySec"
         value="$(arg cbs_belief_receive_start_delay_sec)"/>
  <param name="/liorf/cbsOdomBeliefInTopic"
         value="$(arg cbs_odom_belief_in_topic)"/>
  <param name="/liorf/cbsOdomBeliefOutTopic"
         value="$(arg cbs_odom_belief_out_topic)"/>
  <param name="/liorf/cbsBeliefExchangeWindowSize"
         value="$(arg cbs_belief_exchange_window_size)"/>
  <param name="/liorf/cbsOdomUnmatchedRetryMaxAgeSec"
         value="$(arg cbs_odom_unmatched_retry_max_age_sec)"/>
  <param name="/liorf/cbsOdomUnmatchedRetryMaxBeliefs"
         value="$(arg cbs_odom_unmatched_retry_max_beliefs)"/>
  <param name="/liorf/cbsL2KCovAuditEnable"
         value="$(arg cbs_l2k_cov_audit_enable)"/>
  <param name="/liorf/cbsL2KCovAuditMaxSamples"
         value="$(arg cbs_l2k_cov_audit_max_samples)"/>
  <param name="/liorf/cbsL2KCovAuditReplacementTransVariance"
         value="$(arg cbs_l2k_cov_audit_replacement_trans_variance)"/>
  <param name="/liorf/cbsL2KCovAuditQueryAnchorVariance"
         value="$(arg cbs_l2k_cov_audit_query_anchor_variance)"/>
  <param name="/liorf/cbsL2KOutgoingCovarianceMode"
         value="$(arg cbs_l2k_outgoing_covariance_mode)"/>
  <param name="/liorf/cbsL2KOutgoingCovarianceScale"
         value="$(arg cbs_l2k_outgoing_covariance_scale)"/>
  <param name="/liorf/cbsConjugateBodyFrameConversion"
         value="$(arg cbs_conjugate_body_frame_conversion)"/>
  <param name="/liorf/rerunVisualizerEnable"
         value="$(arg rerun_visualizer_enable)"/>
  <param name="/liorf/rerunRecordingId" value="$(arg rerun_recording_id)"/>
  <param name="/liorf/rerunHost" value="$(arg rerun_host)"/>
  <param name="/liorf/rerunLocalMapLeafSize"
         value="$(arg rerun_local_map_leaf_size)"/>
  <param name="/liorf/rerunLocalMapMaxPoints"
         value="$(arg rerun_local_map_max_points)"/>
  <param name="/liorf/rerunFactorGraphEnable"
         value="$(arg rerun_factor_graph_enable)"/>
  <param name="/liorf/useGPS" value="$(arg use_gps)"/>

  <include file="$(find liorf)/launch/include/module_loam.launch">
    <arg name="project" value="$(arg project)"/>
  </include>

  <node if="$(arg publish_static_tf)"
        pkg="tf"
        type="static_transform_publisher"
        name="s3e_imu_to_velodyne_tf"
        args="-0.010822711151 0.039743076742 -0.140797166604 -0.015750643161 0.000318736590 0.004838794353 0.999864190895 imu_link velodyne 100"/>

  <include file="$(find liorf)/launch/include/module_rviz.launch" if="$(arg use_rviz)">
    <arg name="project" value="$(arg project)"/>
  </include>
</launch>
